@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(246, 247, 249, 0.5)
  ;
}
.Container{
  max-width: 1400px;
  margin: 0 auto;
}