@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(246, 247, 249, 0.5);
}
.Container{
  max-width: 1350px;
  margin: 0 auto;
}